$primary-color: #5a6770;
$secondary-color: #ff6a35;
$white: #ffffff;
$blue: #154c83;
$lightblue: #109cf1;
$lightyellow: #ecf00f;
$yellow: #f2bc00;
$darkyellow: #f6a700;
$green: #a3de27;
$darkgreen: #5dbf39;
$red: #f7685b;
$gray: #828282;
$gray-2: #c2cfe0;
$gray-3: #dcdcf8;
$black-1: #5a646e;
$bluegray: #323c47;
$background: #f5f6f8;
$danger: rgb(212, 38, 38);
$dark: #212529;
$disabled: #231f20;
$font-regular: 'Poppins-Regular';
$font-light: 'Poppins-Light';
$font-medium: 'Poppins-Medium';
$font-bold: 'Poppins-Bold';
