<tpp-notification></tpp-notification>
<tpp-form label="Example" for="example">
  <input placeholder="Some" name="example" tppInput type="text" />
</tpp-form>

<tpp-form label="Example" for="example">
  <select name="example" tppInput type="text">
    <option>O1</option>
    <option>O2</option>
    <option>O3</option>
  </select>
</tpp-form>

<tpp-form label="Example" for="example">
  <textarea textArea="true" tppInput></textarea>
</tpp-form>

<tpp-form label="Example" for="example">
  <input
    datePicker="true"
    placeholder="Some"
    name="example"
    tppInput
    type="date"
  />
</tpp-form>

<!-- <router-outlet></router-outlet>
<tpp-notification></tpp-notification>
<block-ui></block-ui> -->
