<div class="d-flex justify-content-center align-items-center py-3">
  <div class="d-inline-block box-loading">
    <div class="d-inline-block move">
      <div class="factura-cargando fadein"></div>
      <div class="factura-cargando zoomin">
        <svg
          version="1.1"
          x="0px"
          y="0px"
          viewBox="-157 229.2 54 54"
          class="done"
        >
          <g>
            <circle class="st3 fadein" cx="-130" cy="256.2" r="25" />
          </g>
          <g>
            <circle class="st0 path path-one" cx="-130" cy="256.2" r="25" />
            <polyline
              class="st1 path path-two"
              points="-144.7,258.7 -136.4,266.9 -115.9,246.4"
            />
          </g>
        </svg>
      </div>
      <div class="factura-cargando zoomout">
        <div class="svg-factura_3"></div>
      </div>
      <div class="factura-cargando fadeout">
        <div class="svg-factura_3"></div>
      </div>
    </div>
  </div>
</div>
